
.bar nav {
    height: 80px;
    width: 100vw;
    background-color: rgba(159, 45, 215, 0.68);
    display: flex;
    align-items: center;
}


.bar nav ul {
    margin-left: 27vw;
    gap: 15px; 
    display: flex;
    list-style: none;
    padding-right: 10px;
}


.bar nav img {
    height: 50%;
   margin-left: 10px;
   margin-right: 20px;   
   padding: 0px;
   border-radius: 30px;

    
}



ul li  {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    font-size: 17px;

}
.bar nav ul a {
      text-decoration: none;
      color: inherit; 
}

ul li:hover {
    color: yellow;
    cursor: pointer;
}


.search button {
    padding: 8px 16px;
    border: none;
    background-color: white;
    color: purple;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;

    
}

.search button:hover {
    background-color: rgb(244, 22, 244);
    color: white;
}

body{
    margin: 0;
    padding: 0; 
}

.search{
    width: 45vw;
    height: 50px;
    border: 100px;
    background-color: black;
    border-radius: 50px;
    align-content: center;

}

.content{
    height: 40%;
    width: 40%;
    
    display: inline-flex;
    padding: 10px;
    border-radius: 60px;
    margin-left: 10px;
    margin-right:200px ;
    align-items: center;
}

input[type="text"] {
      width: 100%;
      height: 45px;
      border: 2px solid #ccc;
      margin: 0px;  
      border-radius: 60px;
      font-size: 16px;
      
    }

body{
  margin: 0;
  padding: 0;
  background-image: url('travel.jpg') ;
  background-size: cover;
  background-repeat: no-repeat ;
  background-position: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.main{
  height: 100vh;
  color: white;
}

   
.main{
    display: flex;
}
.left{
    height: 100vh;
    width: 10vw;
    display: flex;
}

.mid{
    height: 100vh;
    width: 40vw;
}
.mid h1{
    color: #eb1212;
    margin-top: 150px;
    margin-left: 50px;
    width: 90%;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 7ch;

}
.right{
    height: 100vh;
    width: 50vw;
    color: rgba(212, 19, 103, 0.903);
    font-size: larger;
    overflow: scroll;
}   


